/offline/frontend/node_modules/
data_processing/database/mongodb/
data_processing/parallel_grid_search/data_dir/*
data_processing/parallel_grid_search/data_dir
data_processing/parallel_grid_search/model_performance/*
data_processing/parallel_grid_search/model_performance/
data_processing/parallel_grid_search/__pycache__/
data_processing/parallel_grid_search/__pycache__/*
data_processing/hyperparameter_optimization/checkpoints/*
data_processing/hyperparameter_optimization/checkpoints
data_processing/hyperparameter_optimization/lightning_logs/*
data_processing/hyperparameter_optimization/lightning_logs
data_processing/hyperparameter_optimization/logs/*
data_processing/hyperparameter_optimization/logs
data_processing/hyperparameter_optimization/wandb/*
data_processing/hyperparameter_optimization/wandb
data_processing/hyperparameter_optimization/wifi-rssi-gradient-search/*
data_processing/hyperparameter_optimization/wifi-rssi-gradient-search
data_processing/hyperparameter_optimization/models/*
data_processing/hyperparameter_optimization/models
data_processing/hyperparameter_optimization/model_storage/*
data_processing/hyperparameter_optimization/model_storage
data_processing/hyperparameter_optimization/__pycache__
data_processing/hyperparameter_optimization/__pycache__/*
data_processing/hyperparameter_optimization/best_models_all_data.pkl
data_processing/hyperparameter_optimization/best_models_garage_only.pkl
data_processing/hyperparameter_optimization/best_models_indoor_only.pkl
data_processing/hyperparameter_optimization/best_models_outdoor_and_garage.pkl
data_processing/hyperparameter_optimization/best_models_outdoor_and_indoor.pkl
data_processing/hyperparameter_optimization/best_models_outdoor_indoor_and_garage.pkl
data_processing/hyperparameter_optimization/best_models_outdoor_only.pkl
