/offline/frontend/node_modules/
data_processing/database/mongodb/
data_processing/parallel_grid_search/data_dir/*
data_processing/parallel_grid_search/data_dir
data_processing/parallel_grid_search/model_performance/*
data_processing/parallel_grid_search/model_performance/
data_processing/parallel_grid_search/__pycache__/
data_processing/parallel_grid_search/__pycache__/*