/offline/frontend/node_modules/
data_processing/database/mongodb/
data_processing/parallel_grid_search/data_dir/*
data_processing/parallel_grid_search/data_dir
data_processing/parallel_grid_search/model_performance/*
data_processing/parallel_grid_search/model_performance/
data_processing/parallel_grid_search/__pycache__/
data_processing/parallel_grid_search/__pycache__/*
data_processing/hyperparameter_optimization/checkpoints/*
data_processing/hyperparameter_optimization/checkpoints
data_processing/hyperparameter_optimization/lightning_logs/*
data_processing/hyperparameter_optimization/lightning_logs
data_processing/hyperparameter_optimization/logs/*
data_processing/hyperparameter_optimization/logs
data_processing/hyperparameter_optimization/wandb/*
data_processing/hyperparameter_optimization/wandb
data_processing/hyperparameter_optimization/wifi-rssi-gradient-search/*
data_processing/hyperparameter_optimization/wifi-rssi-gradient-search
data_processing/hyperparameter_optimization/models/*
data_processing/hyperparameter_optimization/models
data_processing/hyperparameter_optimization/model_storage/*
data_processing/hyperparameter_optimization/model_storage
data_processing/hyperparameter_optimization/__pycache__
data_processing/hyperparameter_optimization/__pycache__/*
data_processing/hyperparameter_optimization/best_models
data_processing/hyperparameter_optimization/best_models/*